:root {
    --main-colour: #2C97AD;
    --dark-blue: #007592;
    --light-blue: #E5F5F9;
    --off-white: #E7EAEB;
}

body {
    margin: 0px;
    /* Default font size = 12pt = 16px */
}

hr {
    margin: 0px 10px;
    background-color: rgb(86, 117, 158);
    border: 0px;
    height: 1px;
}

#sidebar {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 220px;
    position: fixed;
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: var(--main-colour);
    color: #fff;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding: 20px;
}

#sidebar img {
    /* User picture */
    width: 60px;
    border-radius: 50%;
    margin-right: 5px; 

}

.username {
    font-size: 1.5em;
    vertical-align: 80%;

}

#page-content {
    margin-left: 260px;
}

#report-area {
    float: left;
    height: 100%;
    width: 70%;
}

#info-area {
    color: var(--dark-blue);
    float: right;
    padding: 1%;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 28%;
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: var(--light-blue);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

#info-area h1 {
    text-align: center;

}

.user-data {
    white-space: nowrap;
    text-decoration: underline;
}



/* The modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal button {
    float: right;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px/15px;
    width: 30%;
}

@media screen and (max-width:1500px) {
    #info-area {
        width: 28%;
        font-size: 12px;
    }
}

@media screen and (max-width:1000px) {
    hr {
        display: none;
    }

    #info-area {
        overflow: hidden;
        position: static;
        width: 100%;
        width: calc(100% - 20px);
        float: none;
    }

    #report-area {
        float: left;
        width: 100%;
        width: calc(100% - 20px);
    }

    #sidebar {
        padding-top: 15px;
        width: 60px;
    }

    #page-content {
        display: grid;
        margin-left: 60px;
        grid-template-rows: 265px auto;
        padding: 0%;
    }

    #info-area {
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: auto auto;
        overflow: hidden;
        padding: 0 10px;
        grid-gap: 5px;
    }

    #report-area {
        padding: 0 10px;
        grid-row: 2 / 3;
    }

    .info-goal {
        text-align: center;
        grid-column: 1 / 3;
    }


}

@media screen and (max-width: 600px) {
    #sidebar {
        left: -60px;
    }

    #page-content {
        margin-left: 0px;
    }

    #info-area h1 {
        font-size: 20px
    }

    #info-area h2 {
        font-size: 15px
    }

    #info-area h3 {
        font-size: 11px
    }

    .modal-content {
        border-radius: 10px/10px;
        margin: auto;
        margin-top: 60%;
        top: 50%;
        width: 80%;
    }

    .mobile-centred {
        text-align: center;
    }
}